appdirs==1.4.4
colorama==0.4.4
Cython==0.29.23
importlib-metadata==4.6.0
Jinja2==3.0.1
MarkupSafe==2.0.1
pep517==0.6.0
python-for-android==2020.6.2
pytoml==0.1.21
sh==1.14.2
six==1.16.0
toml==0.10.2
typing-extensions==3.10.0.0
zipp==3.5.0
